.logo{
    display: block;
    margin: auto;
    height: 100px;
    width: 150px;
}
h1{
    margin-top: 5px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
body{
    height: 97vh;
    background-image: linear-gradient(rgb(120, 128, 228),rgb(240, 79, 199));
}
.container{
    max-width: 1000px;
    height: 55vh;
    margin: auto;
    /* background-color: #212121; */
    border: 2px solid black;
    padding: 20px;
    overflow-y: auto;
    margin-bottom: 20px;
}
.message{
    background-color: aqua;
    width: 250px;
    padding: 10px;
    margin: 10px 6px;
    border: 2px solid black;
    border-radius: 12px;
}
.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}
#sendContainer{
    display: block;
    margin: auto;
    text-align: center;

}
#messageInput{
    width: 330px;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}
.btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
    ;
}














